@media (max-width: 575px) {
  .container {
    max-width: 540px;
  }
  .gilroy-text-sm {
    font-size: 16px;
  }
  .gilroy-text-md {
    font-size: 16px;
  }
  .orbitron-text-sm {
    font-size: 15px;
  }
  .orbitron-text-md {
    font-size: 16px;
  }
  .orbitron-text-lg {
    font-size: 18px;
  }
  .orbitron-text-xl {
    font-size: 18px;
  }
  .orbitron-text-xxl {
    font-size: 20px;
  }
  .orbitron-text-3xl {
    font-size: 28px;
  }
  .w-80 {
    width: 60%;
  }
  .w-10 {
    width: 20%;
  }
  .w-25 {
    width: 100%;
  }
  .w-75 {
    width: 100%;
  }
  .img-i {
    width: 50px;
    height: 50px;
  }
  swiper-container {
    padding-left: calc((100% - 576px) / 2);
  }
  .input-i {
    width: 100px !important;
  }
  .video {
    max-width: 250px;
    max-height: 200px;
    border-radius: 20px;
  }
  .img-gift {
    width: 40px;
    top: 100%;
    right: 5%;
  }
  .img-coin {
    width: 40px;
    top: 105%;
    left: 20%;
  }
  .img-card {
    width: 40px;
    left: -18%;
  }
  .circle-text {
    position: absolute;
    bottom: 120%;
    left: -10;
  }
  .profile-img {
    width: 60px;
    height: 60px;
    top: -5px;
  }
  .swiper-width-primary swiper-slide {
    width: 300px !important;
  }
  .img-z {
    height: 100px;
  }
  .profile-user-img {
    width: 100px;
    height: 100px;
  }
  .user-all-detail .w-25 {
    width: 100% !important;
  }
  .main-25-profile-box {
    position: relative;
  }
  .user-all-detail .w-75 {
    width: 100% !important;
  }
  .profile-user-img {
    position: relative;
    top: 0;
  }
  .btn-shap-primary {
    min-width: 70px;
    padding: 5px;
  }
  .btn-shap-transpernt {
    min-width: 70px;
    padding: 5px;
  }
  .custom-profile-padding {
    padding: 0px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .gilroy-text-sm {
    font-size: 16px;
  }
  .gilroy-text-md {
    font-size: 16px;
  }
  .orbitron-text-sm {
    font-size: 15px;
  }
  .orbitron-text-md {
    font-size: 16px;
  }
  .orbitron-text-lg {
    font-size: 18px;
  }
  .orbitron-text-xl {
    font-size: 18px;
  }
  .orbitron-text-xxl {
    font-size: 20px;
  }
  .orbitron-text-3xl {
    font-size: 32px;
  }

  .w-30 {
    width: 100%;
  }
  .w-70 {
    width: 100%;
  }
  .img-i {
    width: 50px;
    height: 50px;
  }
  .input-i {
    width: 100px !important;
  }
  .video {
    width: 400px;
    height: 375px;
  }
  .profile-img {
    width: 60px;
    height: 60px;
    top: -10px;
  }
  swiper-container {
    padding-left: calc((100% - 576px) / 2);
  }
  .swiper-width-primary swiper-slide {
    width: 300px !important;
  }
  .img-z {
    height: 120px;
  }
  .profile-user-img {
    width: 100px;
    height: 100px;
  }
  .user-all-detail .w-25 {
    width: 100% !important ;
  }
  .main-25-profile-box {
    position: relative;
  }
  .user-all-detail .w-75 {
    width: 100% !important ;
  }
  .profile-user-img {
    position: relative;
    top: 0;
  }
  .btn-shap-primary {
    min-width: 70px;
    padding: 15px;
  }
  .btn-shap-transpernt {
    min-width: 70px;
    padding: 15px;
  }
  .w-25 {
    width: 100%;
  }
  .w-75 {
    width: 100%;
  }
  .custom-profile-padding {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  swiper-container {
    padding-left: calc((100% - 768px) / 2);
  }
  .btn-shap-transpernt {
    min-width: 120px;
  }
  .btn-shap-primary {
    min-width: 110px;
  }
  .main-25-profile-box {
    position: relative;
  }
  .w-25 {
    width: 25%;
  }
  .w-75 {
    width: 75%;
  }
  .custom-profile-padding {
    padding: 0px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .orbitron-text-md {
    font-size: 18px;
  }
  .orbitron-text-xl {
    font-size: 18px;
  }
  .orbitron-text-xxl {
    font-size: 24px;
  }
  .orbitron-text-3xl {
    font-size: 40px;
  }
  .verified-img {
    width: 20px;
    height: 20px;
  }
  .profile-img {
    width: 70px;
    height: 70px;
    top: -45px;
    background-size: cover;
  }
  .input-i {
    width: 200px !important;
  }
  .video {
    width: 400px;
    height: 375px;
  }
  .img-coin {
    width: 65px;
    top: 70%;
    left: -17.5%;
  }
  .img-gift {
    width: 65px;
    top: 90%;
    right: -10%;
  }
  .img-card {
    width: 65px;
    top: 50%;
    left: -17.5%;
  }
  swiper-container {
    padding-left: calc((100% - 992px) / 2);
  }
  .swiper-width-primary swiper-slide {
    width: 300px !important;
  }
  .img-z {
    height: 180px;
  }
  .w-25 {
    width: 25%;
  }
  .w-75 {
    width: 75%;
  }
  .custom-profile-padding {
    padding: 0px;
  }
  .btn-shap-transpernt {
    min-width: 140px;
  }
  .btn-shap-primary {
    min-width: 120px;
  }
  .main-25-profile-box {
    position: absolute;
    top: -7.5%;
  }
  .user-all-detail .w-25 {
    width: 25% !important ;
  }
  .user-all-detail .w-75 {
    width: 75% !important ;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .gilroy-text-xxs {
    font-size: 14px;
  }
  .gilroy-text-xs {
    font-size: 16px;
  }
  .gilroy-text-xs {
    font-size: 20px;
  }
  .orbitron-text-xxs {
    font-size: 14px;
  }
  .orbitron-text-xs {
    font-size: 16px;
  }
  .gilroy-text-sm {
    font-size: 18px;
  }
  .orbitron-text-md {
    font-size: 20px;
  }
  .orbitron-text-lg {
    font-size: 22px;
  }
  .orbitron-text-xl {
    font-size: 25px;
  }
  .orbitron-text-xxl {
    font-size: 30px;
  }
  .orbitron-text-3xl {
    font-size: 60px;
  }
  .img-i {
    width: 70px;
    height: 70px;
  }
  .profile-img {
    width: 90px;
    height: 90px;
  }
  .card .img-z {
    height: 180px;
  }
  .swiper-width-primary swiper-slide {
    width: 440px !important;
  }
  swiper-container {
    padding-left: calc((100% - 1140px) / 2);
  }
  .input-i {
    width: 460px !important;
  }
  .video {
    width: 400px;
    height: 375px;
  }

  .img-coin {
    width: 85px;
    top: 70%;
    left: -30%;
  }
  .img-gift {
    width: 85px;
    top: 70%;
    right: -15%;
  }
  .img-card {
    width: 85px;
    top: 50%;
    left: -18%;
  }
  .profile-user-img {
    width: 100px;
    height: 100px;
  }
  .custom-profile-padding {
    padding: 20px 5px;
  }
  .main-25-profile-box {
    position: absolute;
    top: -7.5%;
  }
  .user-all-detail .w-25 {
    width: 25% !important;
  }
  .user-all-detail .w-75 {
    width: 75% !important;
  }
  .profile-user-img {
    position: absolute;
    top: -50px;
  }
  .btn-shap-transpernt {
    min-width: 140px;
  }
  .btn-shap-primary {
    min-width: 120px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1320px;
  }
  swiper-container {
    padding-left: calc((100% - 1320px) / 2);
  }
  .input-i {
    width: 200px;
  }
  .video {
    width: 400px;
    height: 375px;
  }
  .w-25 {
    width: 25%;
  }
  .w-75 {
    width: 75%;
  }
  .profile-user-img {
    width: 170px;
    height: 170px;
  }
  .custom-profile-padding {
    padding: 75px 25px 30px 25px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1320px;
  }
  swiper-container {
    padding-left: calc((100% - 1320px) / 2);
  }
  .input-i {
    width: 460px;
  }
  .video {
    width: 600px;
    height: 475px;
  }
  .custom-profile-padding {
    padding: 75px 25px 30px 25px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1420px;
  }
  swiper-container {
    padding-left: calc((100% - 1420px) / 2);
  }
  .custom-profile-padding {
    padding: 75px 25px 30px 25px;
  }
  .img-coin {
    top: 70%;
    left: -20%;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
  swiper-container {
    padding-left: calc((100% - 1520px) / 2);
  }
  .custom-profile-padding {
    padding: 90px 25px 30px 25px;
  }
  .img-coin {
    top: 70%;
    left: -30%;
  }
}
@media (min-width: 1680px) {
  .container {
    max-width: 1620px;
  }
  swiper-container {
    padding-left: calc((100% - 1620px) / 2);
  }
  .img-gift {
    top: 70%;
    right: -15%;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1620px;
  }
  new-container-primary {
    padding-left: calc((100% - 1620px) / 2);
  }
  .custom-profile-padding {
    padding: 50px;
  }
  .custom-profile-padding {
    padding: 100px 25px 30px 25px;
  }
  .img-gift {
    position: absolute;
    top: 70%;
    right: -15%;
  }
}
