@import url(./fonts.css);
@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: var(--clr-body-blue);
  color: #fff;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
  color: var(--text-grey-light);
}

p {
  margin-bottom: 0;
  background-color: transparent;
}
img {
  background-color: transparent;
}
a:hover {
  color: #fff;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.container {
  max-width: calc(100% - 30px);
  width: 100%;
  margin: 0 auto;
}

.z-999 {
  z-index: 999;
}

.w-90 {
  width: 90%;
}

.w-10 {
  width: 10%;
}

.w-80 {
  width: 80%;
}
.w-20 {
  width: 20%;
}
.w-70 {
  width: 70%;
}
.w-30 {
  width: 30%;
}
.max-h-1680 {
  max-height: 1680px;
}
.min-w-200 {
  min-width: 200px;
}

.container-3xl {
  width: 1680px;
  margin: auto;
}

.gilroy-text-3xs {
  font-size: 14px;
  font-family: var(--text-name-ii);
}

.gilroy-text-xxs {
  font-size: 16px;
  font-family: var(--text-name-ii);
}
.gilroy-text-xs {
  font-size: 17px;
  font-family: var(--text-name-ii);
}
.gilroy-text-sm {
  font-size: 18px;
  font-family: var(--text-name-ii);
}
.gilroy-text-md {
  font-size: 19px;
  font-family: var(--text-name-ii);
}

.gilroy-text-md {
  font-size: 20px;
  font-family: var(--text-name-ii);
}

.orbitron-text-xxs {
  font-size: 14px;
  font-family: var(--text-name-i);
}
.orbitron-text-xs {
  font-size: 16px;
  font-family: var(--text-name-i);
}
.orbitron-text-sm {
  font-size: 18px;
  font-family: var(--text-name-i);
}
.orbitron-text-md {
  font-size: 20px;
  font-family: var(--text-name-i);
}
.orbitron-text-lg {
  font-size: 22px;
  font-family: var(--text-name-i);
}
.orbitron-text-xl {
  font-size: 25px;
  font-family: var(--text-name-i);
}
.orbitron-text-xxl {
  font-size: 30px;
  font-family: var(--text-name-i);
}
.orbitron-text-3xl {
  font-size: 60px;
  font-family: var(--text-name-i);
}

.text-orange {
  color: var(--clr-light-orange);
}

.text-white {
  color: #fff;
}

.text-grey {
  color: var(--text-grey-light);
}

.max-w-200 {
  max-width: 200px;
}

.max-w-400 {
  max-width: 700px;
}

.max-w-300 {
  max-width: 300px;
}
.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.text-orange {
  color: var(--clr-light-orange);
}

.text-gradient-orange {
  background: -webkit-linear-gradient(
    45deg,
    var(--clr-light-orange),
    var(--clr-light-red)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-shap {
  width: 50px;
  height: 50px;
  background-color: var(--clr-bg-icon-grey);
}

.icon-shap:hover {
  transition: 0.3s all ease-in-out;
  background-color: transparent;
}

.icon-shap img {
  background-color: transparent;
  font-size: 25px;
}

.four-pointed-star-sm {
  position: relative;
  margin: 8px;
  width: 13px;
  height: 13px;
  font-size: 13px;
}

/* button */
.btn-shap-i {
  border-radius: var(--border-radius);
  padding: 2px;
  border: 2px solid var(--clr-light-orange);
  background-color: var(--clr-light-orange);
  cursor: pointer;
  z-index: 2;
}

.btn-shap-ii {
  min-width: 100px;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  border: 2px solid var(--clr-light-orange);
  background-color: var(--clr-light-orange);
  color: black;
  z-index: 2;
}

.btn-shap-ii:hover {
  transition: 0.3s all ease-in-out;
  background-color: transparent;
  color: var(--clr-light-orange);
}

.btn-shap-primary {
  min-width: 100px;
  padding: 20px 15px;
  border-radius: var(--border-radius);
  border: none;
  /* background-color:  var(--clr-light-orange); */
  background-image: linear-gradient(
    45deg,
    var(--clr-light-orange),
    var(--clr-light-red)
  );
  color: #fff;
  z-index: 1;
}

.btn-shap-primary:hover {
  transition: 0.5s all ease-in-out;
  background-color: black;
  background-image: none;
}

.btn-shap-transpernt {
  min-width: 130px;
  padding: 20px 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-grey-start);
  background-color: var(--clr-bg-icon-grey);
  color: var(--text-grey-light);
  z-index: 1;
}

.btn-shap-transpernt:hover {
  transition: 0.3s all ease-in-out;
  background-color: transparent;
}

.btn-shap-transpernt-icon {
  min-width: 50px;
  padding: 17.5px 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-grey-start);
  background-color: var(--clr-bg-icon-grey);
  color: var(--text-grey-light);
  z-index: 2;
}

.btn-shap-transpernt-icon:hover {
  transition: 0.3s all ease-in-out;
  background-color: transparent;
}

.btn-icon {
  width: 40px;
  height: 40px;
  transition: 0.3s all ease-in-out;
  z-index: 1;
}

.btn-icon:hover {
  background-color: var(--clr-grey-start);
}

.swiper-button-next {
  width: 166px;
  height: 61px;
  top: 45%;
  right: -3%;
  z-index: 1;
  transform: rotate(90deg);
  border-radius: 20px 0 20px 0;
}

.border-shadow-secondary {
  border: double 2px transparent;
  background-image: linear-gradient(
      var(--clr-bg-dark-blue),
      var(--clr-bg-dark-blue)
    ),
    linear-gradient(to right, var(--clr-grey-start), var(--clr-grey-end));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
header .border-shadow-secondary:hover,
.Explore-Creators .border-shadow-secondary:hover {
  transition: 0.3s all ease-in-out;
  border: 2px solid var(--clr-light-orange);
}
.input-i {
  width: 460px;
  height: 50px;
  font-family: var(--text-name-ii);
  background-image: linear-gradient(
    45deg,
    var(--clr-input-grey-start),
    transparent
  );
  outline: none;
}

.input-ii {
  width: 100%;
  padding: 25px 20px !important;
  outline: none;
  padding: 1rem;
  border: 2px solid transparent;
  background-image: linear-gradient(
    45deg,
    var(--clr-input-grey-start),
    transparent
  );
}

.input-i::placeholder,
.input-ii::placeholder {
  color: var(--text-grey-light);
}

/* Optional border class for other elements */
.men-img {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.four-pointed-star-sm:before {
  content: "";
  position: absolute;
  background: var(--clr-light-orange);
  width: 13px;
  height: 13px;
  transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.four-pointed-star-sm:after {
  content: "";
  position: absolute;
  background: var(--clr-light-orange);
  width: 13px;
  height: 13px;
  transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

/*  */
.four-pointed-star-md:before {
  content: "";
  position: absolute;
  background: var(--clr-light-orange);
  width: 26px;
  height: 26px;
  transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  box-shadow: 0 0px 25px #ebab3c2c;
}

.four-pointed-star-md:after {
  content: "";
  position: absolute;
  background: var(--clr-light-orange);
  width: 26px;
  height: 26px;
  transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  box-shadow: 0 0px 25px #ebab3c2c;
}

.shadow-dot {
  background-image: linear-gradient(#ebaa3c, #ff4455);
  bottom: 95%;
  left: 2%;
  box-shadow: 0px 0px 180px 60px #ff4455;
  z-index: 2;
}

.shadow-dot-sm {
  border-radius: 50%;
  background-image: linear-gradient(#ebaa3c, #ff4455);
  box-shadow: 0px 0px 200px 50px #ff4455;
  bottom: 95%;
  left: 100%;
  z-index: 2;
}

.shadow-dot-lg {
  border-radius: 50%;
  background-image: linear-gradient(#ebaa3c, #ff4455);
  box-shadow: 0px 0px 200px 50px #ff4455;
  bottom: 95%;
  right: 100%;
  z-index: 2;
}

.shadow-dot-xl {
  border-radius: 50%;
  background-image: linear-gradient(#ebaa3c, #ff4455);
  box-shadow: 0px 0px 200px 50px #ff4455;
  bottom: 20%;
  right: 100%;
  z-index: 2;
}

.shadow-dot-xxl {
  border-radius: 50%;
  background-image: linear-gradient(#ebaa3c, #ff4455);
  box-shadow: 0px 0px 200px 65px #ff4455;
  top: 5%;
  left: 105%;
  z-index: 2;
}

.vector {
  width: 100%;
  top: -10%;
  left: 0%;
}

.vector .img-vector-2 {
  width: 95%;
  top: -12.5%;
  left: -5%;
  transform: rotate(0deg);
  z-index: 1;
}

.video {
  width: 600px;
  height: 475px;
  border-radius: 120px 0 120px 0;
  z-index: 0;
}

.video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.icon-play {
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.288);
  backdrop-filter: blur(10px);
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.icon-play:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: translate(-50%, -50%) scale(1.1);
}

.circle-text {
  bottom: 105%;
  left: -7.5%;
}

.img-coin {
  width: 85px;
  top: 70%;
  left: -30%;
}

.img-gift {
  width: 85px;
  top: 70%;
  right: -15%;
}

.img-card {
  width: 85px;
  top: 50%;
  left: -18%;
}

.img-i {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
}

.img-a {
  width: 45px;
  height: 45px;
  border-radius: 0 10px 0 10px;
  background-size: contain;
  background-position: center;
}

/* swiper  */
swiper-container {
  width: calc(100% - 30px);
  height: 100%;
  margin: 0 0 0 30px;
  z-index: 0;
}

swiper-container::part(button-next),
swiper-container::part(button-prev) {
  display: none !important;
}

.nextBtn {
  position: absolute;
  top: 45%;
  right: -52px;
  cursor: pointer;
  z-index: 10;
  box-shadow: rgba(10, 10, 10, 0.501) 0px 7px 29px 0px;
}

.nextBtn p {
  transform: rotate(180deg);
}
.arrow-img {
  transform: rotate(270deg);
}

.swiper-width-primary swiper-slide {
  max-width: 440px !important;
  height: auto;
}

.card-body {
  background-image: linear-gradient(
    90deg,
    var(--clr-input-grey-start),
    var(--clr-input-grey-end)
  );
}

.img-z {
  height: 180px;
}

.card-body .img-i {
  width: 10px;
  height: 10px;
}

.swiper-width-secondary swiper-slide {
  width: 490px !important;
  height: 286px;
  margin: 25px 0 75px 0;
}

.verified-img {
  width: 20px;
  height: 20px;
}

.verified-img .img-x {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 0px 20px 0px 20px !important;
  background-size: cover;
  background-position: center;
  top: -45px;
}

.pimgrofile- img {
  object-fit: contain;
}

/* footer */
.footer {
  background-image: linear-gradient(
    180deg,
    var(--clr-light-blue),
    var(--clr-light-blue-transpernt)
  );
}

/*//////////////////  second page //////////////////  */
.second-bg-img {
  height: 320px;
  background-position: center;
}

.nav a:hover,
.nav a:focus {
  color: #fff;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 10%;
  }
}

.game-character-card-img {
  width: 240px;
  height: 240px;
}

.main-25-profile-box {
  top: -7.5%;
}

.prise-box {
  width: 225px;
  height: 60px;
  border: double 2px transparent;
  border-radius: 10px 0 10px 0;
}

.profile-user-img {
  width: 140px;
  height: 140px;
  border-radius: 0 20px 0 20px;
  background-size: cover;
  background-position: center;
}

.profile-user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-blnak-space {
  height: 50px;
}

.profile-box .min-box {
  min-width: 70px;
  border: 1px solid var(--clr-grey-start);
  border-radius: 10px 0 10px 0;
}

.profile-box .btn-icon {
  width: 50px;
  height: 50px;
}

.profile-box .hr-i {
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(255, 255, 255),
    rgba(0, 0, 0, 0)
  );
}
